// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** whatever **/
  --ion-color-whatever: linear-gradient(
    135deg,
    #fcba61 0%,
    #fb9a63 50%,
    #bf362e 100%
  );
  --ion-color-whatever-rgb: 246, 90, 103;
  --ion-color-whatever-contrast: #fff;
  --ion-color-whatever-contrast-rgb: 255, 255, 255;
  --ion-color-whatever-shade: #a83028;
  --ion-color-whatever-tint: #c54a43;
  /** orange #F27354 **/
  --ion-color-orange: #ff9800;
  --ion-color-orange-rgb: 255, 152, 0;
  --ion-color-orange-contrast: 255, 255, 255;
  --ion-color-orange-contrast-rgb: 255, 255, 255;
  --ion-color-orange-shade: #e08600;
  --ion-color-orange-tint: #ffa21a;
  /** green #0ED50E **/
  --ion-color-green: #0ed50e;
  --ion-color-green-rgb: 14, 213, 14;
  --ion-color-green-contrast: #fff;
  --ion-color-green-contrast-rgb: 255, 255, 255;
  --ion-color-green-shade: #0cbb0c;
  --ion-color-green-tint: #26d926;
  /** ownRed alternative: #be362d**/
  --ion-color-ownRed: #bf362e;
  --ion-color-ownRed-rgb: 246, 90, 103;
  --ion-color-ownRed-contrast: #fff;
  --ion-color-ownRed-contrast-rgb: 255, 255, 255;
  --ion-color-ownRed-shade: #a83028;
  --ion-color-ownRed-tint: #c54a43;
  /** we-red-conv alternative: #be362d**/
  --ion-color-we-red-conv: #ffffff;
  --ion-color-we-red-conv-rgb: 255, 255, 255;
  --ion-color-we-red-conv-contrast: #bf362e;
  --ion-color-we-red-conv-contrast-rgb: 246, 90, 103;
  --ion-color-we-red-conv-shade: #e0e0e0;
  --ion-color-we-red-conv-tint: #ffffff;
  /** redgradient **/
  --ion-color-redgradient: linear-gradient(
    135deg,
    rgba(229, 48, 25, 1) 0%,
    rgba(247, 78, 7, 1) 50%,
    rgba(244, 94, 10, 1) 100%
  );
  --ion-color-redgradient-rgb: 229, 48, 25;
  --ion-color-redgradient-contrast: #fff;
  --ion-color-redgradient-contrast-rgb: 255, 255, 255;
  --ion-color-redgradient-shade: #ca2a16;
  --ion-color-redgradient-tint: #e84530;
  /** red **/
  --ion-color-red: #e53019;
  --ion-color-red-rgb: 229, 48, 25;
  --ion-color-red-contrast: #fff;
  --ion-color-red-contrast-rgb: 255, 255, 255;
  --ion-color-red-shade: #ca2a16;
  --ion-color-red-tint: #e84530;
  /** white **/
  --ion-color-white: #ffffff;
  --ion-color-white-rgb: 255, 255, 255;
  --ion-color-white-contrast: #000;
  --ion-color-white-contrast-rgb: 0, 0, 0;
  --ion-color-white-shade: #e0e0e0;
  --ion-color-white-tint: #ffffff;
  /** transwhite **/
  --ion-color-transwhite-contrast: #ffffff;
  --ion-color-transwhite-contrast-rgb: 0, 0, 0;
  --ion-color-transwhite-shade: #e0e0e0;
  --ion-color-transwhite-tint: #ffffff;
  /** black **/
  --ion-color-black: #000000;
  --ion-color-black-rgb: 0, 0, 0;
  --ion-color-black-contrast: #ffffff;
  --ion-color-black-contrast-rgb: 255, 255, 255;
  --ion-color-black-shade: #000000;
  --ion-color-black-tint: #1a1a1a;
  /** primary **/
  --ion-color-primary: #488aff;
  --ion-color-primary-rgb: 72, 138, 255;
  --ion-color-primary-contrast: #fff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3f79e0;
  --ion-color-primary-tint: #5a96ff;
  /** secondary **/
  --ion-color-secondary: #32db64;
  --ion-color-secondary-rgb: 50, 219, 100;
  --ion-color-secondary-contrast: #fff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #2cc158;
  --ion-color-secondary-tint: #47df74;
  /** black **/
  --ion-color-black: #000000;
  --ion-color-black-rgb: 0, 0, 0;
  --ion-color-black-contrast: #ffffff;
  --ion-color-black-contrast-rgb: 255, 255, 255;
  --ion-color-black-shade: #000000;
  --ion-color-black-tint: #1a1a1a;

  /** facebook */
  --ion-color-facebook: #3b5998;
  --ion-color-facebook-rgb: 59, 89, 152;
  --ion-color-facebook-contrast: #ffffff;
  --ion-color-facebook-contrast-rgb: 255, 255, 255;
  --ion-color-facebook-shade: #344e86;
  --ion-color-facebook-tint: #4f6aa2;
  /** apple */
  --ion-color-apple: #a6b1b7;
  --ion-color-apple-rgb: 166, 177, 183;
  --ion-color-apple-contrast: #000000;
  --ion-color-apple-contrast-rgb: 0, 0, 0;
  --ion-color-apple-shade: #929ca1;
  --ion-color-apple-tint: #afb9be;
  /** google */
  --ion-color-google: #db4437;
  --ion-color-google-rgb: 219, 68, 55;
  --ion-color-google-contrast: #ffffff;
  --ion-color-google-contrast-rgb: 255, 255, 255;
  --ion-color-google-shade: #c13c30;
  --ion-color-google-tint: #df574b;

  /** tertiary **/
  --ion-color-tertiary: #f4a942;
  --ion-color-tertiary-rgb: 244, 169, 66;
  --ion-color-tertiary-contrast: #fff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #d7953a;
  --ion-color-tertiary-tint: #f5b255;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #fff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f53d3d;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #fff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d83636;
  --ion-color-danger-tint: #f65050;

  /** light **/
  --ion-color-light: #f4f4f4;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d7d7;
  --ion-color-light-tint: #f5f5f5;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** dark **/
  --ion-color-dark: #222;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #fff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e1e1e;
  --ion-color-dark-tint: #383838;
}
